@import "~styles/mixins";

.container {
  align-content: center;
  background: white;
  padding: 10px 0;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  margin: 0 auto;
  max-width: $screen-md;
  padding: 15px;
  color: black;
  flex-direction: column;
}

.title {
  margin: 0 auto;

  @include tc-title;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  @include xs-to-sm {
    flex-direction: column;
  }
}

.card {
  height: 480px;
  margin-bottom: 48px;
  overflow: hidden;
  position: relative;
  color: #73787c;
  text-align: left;

  @include tc-body-md;

  @include xs-to-md {
    padding: 0 24px;
    margin-bottom: 36px;
    width: 100%;
  }

  a {
    text-decoration: underline;

    &,
    &:active,
    &:focus,
    &:hover {
      color: #0092ff;
    }

    &:visited {
      color: $tc-purple;
    }
  }

  h1 {
    color: #394146;
    margin-bottom: 12px;

    @include tc-heading-xl;
  }

  h3 {
    color: #394146;
    margin-bottom: 12px;
    max-height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tc-heading-md;

    @include md {
      font-size: 16px;
    }
  }

  h4 {
    color: #394146;
    max-height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tc-heading-sm;

    @include md {
      font-size: 16px;
    }
  }

  iframe {
    height: 280px;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.mask {
  background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.5) 50%, white 80%);
  bottom: 0;
  height: 128px;
  left: 0;
  position: absolute;
  right: 0;
}

.readMore {
  bottom: 0;
  position: absolute;
  z-index: 2;
}
