@import "~styles/mixins";

.card {
  width: 48%;

  &:first-child {
    width: 100%;
    height: 720px;
  }

  @include xs-to-sm {
    width: 100%;

    &:first-child {
      height: 480px;
    }
  }
}
